<appSettings>
	<add key="SPO:0:SiteName" value="pnpdemo" />
	<add key="SPO:0:TenantID" value="8ae35f9e-b3c6-486b-bdf8-5c8da0cff7b9" />
	<add key="SPO:0:SiteURL" value="https://contoso.sharepoint.com/sites/pnpdemo" />
	<add key="SPO:0:ApplicationID" value="64f4c29a-b1d5-47c5-91d3-ecdfaedeb72a" />
	<add key="SPO:0:CertificateThumbprint" value="4AA402CDC596471696C6159254DEF6B30ABBB44D" />
	<add key="SPO:1:TenantID" value="8ae35f9e-b3c6-486b-bdf8-5c8da0cff7b9" />
	<add key="SPO:1:SiteURL" value="https://contoso.sharepoint.com/sites/pnpdemo/test" />
	<add key="SPO:1:ApplicationID" value="64f4c29a-b1d5-47c5-91d3-ecdfaedeb72a" />
	<add key="SPO:1:CertificateThumbprint" value="4AA402CDC596471696C6159254DEF6B30ABBB44D" />
	<add key="SPO:1:SiteName" value="pnpdemo - test" />
</appSettings>